* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.options {
  margin: 20px;
}
.success {
  color: green;
  font-weight: bold;
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
}

.fail {
  color: red;
  font-weight: bold;
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

.todo {
  text-align: center;
  background-color: orange;
  padding: 10px;
  margin: 10px;
}

.todo li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
}

.todo button {
  padding: 8px;
  width: 150px;
  background-color: green;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.box {
  position: absolute;
  display: block;
  width: 50%;
  height: 300px;
  background-color: gray;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  left: 50%;
  transform: translate(-50%, 10%);
}

.open-modal {
  background-color: pink;
  padding: 10px;
  border: 0;
  width: 150px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 100px;
  right: 10px;
}

.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup {
  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 20% auto;
  padding: 20px;
  background: white;
  position: relative;
}

.popup-content {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup a {
  background: crimson;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  margin: 20px 0 0 0;
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
