* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  background: #352f5b;
}

.clock {
  font-size: 30px;
  color: yellow;
  text-align: center;
  transform: translateY(50vh);
}

.clock span {
  padding: 20px;
  margin: 0 20px;
  background: #444;
}
